{% extends "layouts/root.html" %}
{% block header %}
  <header>
    <nav class="container">
      <div>
        <a href="/home" class="nav-item brand">djmvp</a>
        <span>welcome {{ user.username }}</span>
      </div>
      <div class="nav-links">
        <a href="/profile" class="nav-item">Profile</a>
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="nav-item">Logout</button>
        </form>
      </div>
    </nav>
  </header>
{% endblock %}
