@import url("https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #021526;
  --fg: #e2dfd0;
  --primary: #03346e;
  --primary-alt: #6eacda;
  --error: #e11d48;

  --opacity: 0.5;
  --text-sm: 0.85rem;
  --radius: 4px;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: "SUSE Mono", monospace;
}

button,
input,
select,
textarea {
  background: none;
  border: 0;
  font: inherit;
}

:focus-visible {
  outline: 2px solid var(--primary-alt);
  outline-offset: 2px;
}

a {
  color: inherit;
  text-decoration: none;
  transition:
    opacity 0.15s,
    text-decoration 0.15s;

  &:hover {
    opacity: var(--opacity);
    text-decoration: underline;
  }
}

button[type="submit"] {
  padding: 0.3rem;
  border-radius: var(--radius);
  background: var(--primary);
  color: inherit;
  cursor: pointer;
  transition:
    background-color 0.15s,
    color 0.15s;

  &:hover {
    background: var(--primary-alt);
    color: var(--bg);
  }
}

:is(
  input[type="text"],
  input[type="password"],
  input[type="email"],
  select,
  textarea
) {
  padding: 0.3rem;
  border: 1px solid transparent;
  border-radius: var(--radius);
  background: var(--fg);
  color: var(--bg);
  transition: border-color 0.15s;

  &:focus-visible {
    border-color: var(--primary-alt);
  }
}

ul {
  list-style: none;
}

header {
  background: var(--primary);
  padding-block: 0.3rem;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logout-btn {
      background: none;
      color: inherit;
      cursor: pointer;

      &:hover {
        opacity: var(--opacity);
        text-decoration: underline;
      }
    }
  }
}

.container {
  width: min(768px, 100%);
  margin-inline: auto;
  padding-inline: 1rem;
}

.grid {
  display: grid;
  gap: 0.75rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.page-title {
  margin-block: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.center {
  margin-block: 1rem;
  text-align: center;
}

.django-form {
  p {
    display: grid;
    gap: 0.2rem;

    &:empty {
      display: none;
    }
  }

  .helptext,
  ul:not(.errorlist) {
    font-size: var(--text-sm);
    opacity: var(--opacity);
  }

  .errorlist {
    color: var(--error);
    font-size: var(--text-sm);

    &.nonfield {
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      border-radius: var(--radius);
      background: var(--error);
      color: var(--fg);
    }
  }

  button[type="submit"] {
    margin-top: 0.5rem;
  }
}
